@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@* <h3>@ViewData["Title"]</h3> *@
<body style="background-color:#F8DFD4">
<partial name="_StatusMessage" for="StatusMessage" />
<div class="card mb-4 mb-xl-0">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body text-center">
<div class="row">
    <div class="">
        <form id="profile-form" method="post" style="margin-left:50%;" > @*------------------------------------>*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Username" class="form-label" >User Name</label>
                <input asp-for="Username" class="form-control"   />          
            </div>
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br></br>
            <button id="update-profile-button" type="submit" class="btn btn-lg btn-primary" style="margin-left:40%">Save</button>  @*---------------------->*@
        </form>
    </div>
</div>
</div>
</div>

<br></br>
<br></br>
<br></br>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .card {
        width :60%;
        box-shadow: 0.15rem 0.15rem 1.75rem 1.75rem rgb(33 40 50 / 15%);
        height: auto;
        margin: 5%;
        color: grey;
    }

    .label {
        /*display: inline-block;
        width: 150px;
        text-align: right;
        margin:0;
        padding:0;*/
        left: 0px;
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: #F8DFD4;
        border-bottom: 1px solid #F8DFD4;
        text-align: center;
        font-size: 20px;
        color: black;
    }

    #update-profile-button {
        background-color: black;
        border-radius: 30px;
        width: 150px;
        right:50%;
    }

    .form-control {
        color:grey;
        width:300px;
        padding:5%;
        margin-bottom: 20px;
    }

    .form-label {
        text-align: left;
    }
</style>
